.portfolio
    display: flex
    align-items: center
    flex-direction: column
    font-family: $fontBottom
    background-color: $darkBlue
    padding-bottom: 5rem
    h1
        @include h1
    .projects
        display: flex
        flex-wrap: wrap
        justify-content: center
        width: 75rem
        .project
            display: flex
            flex-direction: column
            align-items: center
            width: 40%
            background-color: #23668a
            color: white
            padding: 30px
            margin: 3rem
            border-bottom: 1px solid rgba(0,0,0,.1)
            transition: .2s
            color: $whiteOpa
            &:hover
                background-color: $mediumBlue
            &:hover h4
                color: black                             
            img
                width: 100%
                height: 200px
                object-fit: cover
            h4
                @include h4
                width: 100%
                color: $whiteOpa
            p
                width: 100%
                text-align: center
                font-size: 1.5rem
                color: $whiteOpa
        .inProgress
            cursor: default
            background-color: #0c2533
            &:hover
                background-color: #0c2533
                


@media screen and ( max-width: 920px )
    .portfolio
        h1
        .projects
            width: 100%
            .project
                width: 80% 
                img 
                    
                h3
                p
