*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none

@import "_variables.sass"
@import "_mixin.sass"
@import "_top.sass"
@import "_describe.sass"
@import "_portfolio.sass"
@import "_contact.sass"



@media screen and ( max-width: 1300px )
    html
        font-size: 14px
    
@media screen and ( max-width: 1095px )
    html
        font-size: 12px
   

@media screen and ( max-width: 920px )
    html
        font-size: 10px

@media screen and ( max-width: 860px )
    html
        font-size: 8px


