*
    margin: 0
    padding: 0
    box-sizing: border-box

@import "_top.sass"
@import "_describe.sass"

body
    background: $blue


@media screen and ( max-width: 1300px )
    html
        font-size: 14px
    
@media screen and ( max-width: 1055px )
    html
        font-size: 12px
   

@media screen and ( max-width: 920px )
    html
        font-size: 10px

@media screen and ( max-width: 860px )
    html
        font-size: 8px

// @media screen and ( max-width: 760px )
//     html
//         font-size: 6px

// @media screen and ( max-width: 650px )
//     html
//         font-size: 4px





