@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing {
  min-height: 100vh;
  background: url("foto.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 550px;
}

.landing .language {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
  padding: .7rem 0;
  min-width: 150px;
}

.landing .language::after {
  content: 'wybierz język';
  font-size: 13px;
  color: white;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing .language input {
  display: none;
}

.landing .language .label {
  cursor: pointer;
}

.landing .language .en {
  background: url("../img/en.gif");
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  color: rgba(12, 12, 12, 0);
}

.landing .language .de {
  background: url("../img/de.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  color: rgba(12, 12, 12, 0);
}

.landing .language .pol {
  background: url("../img/pl.gif");
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  color: rgba(12, 12, 12, 0);
}

.landing .language .active {
  font-size: 25px;
  -webkit-box-shadow: 0px 0px 0px 2px white;
  box-shadow: 0px 0px 0px 2px white;
}

.landing .firstText {
  width: 50rem;
  height: 35rem;
  margin-bottom: 300px;
  background-image: url("../img/cloud.png");
  background-size: 50rem 35rem;
  text-align: center;
}

.landing .firstText h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 10rem;
}

.landing .firstText p {
  width: 80%;
  margin: 0 auto;
  font-size: 4rem;
}

.landing img {
  width: 25rem;
  height: 25rem;
  min-width: 250px;
  min-height: 250px;
}

.landing button {
  background-color: white;
  border: none;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-text {
  color: white;
}

.intro .intro-text .hide {
  background: black;
  overflow: hidden;
}

.intro .intro-text .hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #1153f6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.describe {
  min-height: 100vh;
  background-color: #2982b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.describe h1 {
  color: white;
  padding: 2rem 0;
  font-size: 50px;
}

.describe p {
  width: 60rem;
  text-align: justify;
  font-size: 20px;
}

.describe h2 {
  color: white;
}

.describe .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.describe .skills .skill {
  width: 25%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.describe .skills .skill img {
  width: 300px;
}

.describe .skills .skill h3 {
  text-align: center;
  font-size: 40px;
}

.describe .skills .skill h4 {
  text-align: center;
  font-size: 30px;
}

.describe .skills .skill .description {
  font-size: 25px;
  width: 100%;
}

.describe .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.describe .languages .language {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.describe .languages .language h6 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.describe .languages .language img {
  width: 250px;
  height: 150px;
}

.describe .languages .language .description2 {
  width: 100%;
  font-size: 25px;
}

@media screen and (max-width: 920px) {
  .describe .skills .skill {
    width: 70%;
  }
}

@media screen and (max-width: 920px) {
  .describe .languages .language {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .describe .languages .language:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .describe .languages .language img {
    width: 250px;
    height: 150px;
  }
  .describe .languages .language .description2 {
    width: calc( 100% - 300px);
    height: 200px;
    font-size: 20px;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio h1 {
  padding: 40px;
}

.portfolio .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75rem;
}

.portfolio .projects .project {
  width: 40%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .projects .project img {
  width: 300px;
  height: 300px;
  background-color: pink;
}

.portfolio .projects .project h3 {
  font-size: 2.5rem;
}

.portfolio .projects .project p {
  padding: 0 40px;
  text-align: justify;
  font-size: 20px;
}

@media screen and (max-width: 920px) {
  .portfolio .projects {
    width: 100%;
  }
  .portfolio .projects .project {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio .projects .project:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .portfolio .projects .project p span {
    color: white;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .mainImg {
  width: 100%;
  height: 100vh;
  background: url("../img/karatekid.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.contact .mainImg h1 {
  width: 100%;
  background-color: rgba(33, 164, 238, 0.5);
  color: black;
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .interests {
  width: 75rem;
  background-color: hotpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .interests .interest {
  width: 40%;
  background-color: lightblue;
  margin: 20px;
}

.contact .interests .interest img {
  width: 100px;
  height: 100px;
  background-color: blue;
}

body {
  background: #21a4ee;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1055px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 860px) {
  html {
    font-size: 8px;
  }
}
/*# sourceMappingURL=css.css.map */